.lightbox-container{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: white
}

.photo-container{
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lightbox-current-photo{
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: none;
}
.lightbox-current-video{
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: none;

}
button:focus {
    border: 1px solid black;
}

.lightbox-controller-left,
.lightbox-controller-right,
.close-lightbox {
    all: unset;
    cursor: pointer;
    font-size: 50px;
    color: #901C1C;
    padding: 10px;
    border-radius: 999999px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.lightbox-controller-left {
    left: 10px;
}

.lightbox-controller-right {
    right: 10px;
}

.close-lightbox {
    top: 70px;
    right: 10px;
    font-weight: bold;
}